<%= resource_frm.fields_for :address do |address_fields| %>

  <%- admin = resource_frm.object.admin? %>
  <div class="form-label-group">
    <%= address_fields.text_field :line_1, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :line_1 %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :line_2, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :line_2  %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :landmark, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :landmark %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :pincode, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :pincode %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :city, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :city %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :state, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :state %>
  </div>
  <div class="form-label-group">
    <%= address_fields.text_field :country, class: 'form-control', required: true, readonly: (admin ? true : false) %>
    <%= address_fields.label :country %>
  </div>

  <div class="form-label-group">
    <%= address_fields.text_field :mobile_number, class: 'form-control', required: true %>
    <%= address_fields.label :mobile_number %>
  </div>
<% end %>