<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign Up</h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), calss: 'form-signin') do |f| %>
          <%-#= render "devise/shared/error_messages", resource: resource %>

          <div class="form-label-group">
            <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: true %>
            <%= f.label :email %>
          </div>

          <div class="form-label-group">
            <%= f.text_field :name, class: 'form-control', required: true %>
            <%= f.label :name %>
          </div>

          <div class="form-label-group">
            <%= f.file_field  :profile_picture, class: 'form-control', required: true %>
            <%= f.label :profile_picture %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, class: 'form-control', required: true %>
            <%= f.label :password %>
          </div>


          <div class="form-label-group">
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
            <%= f.label :password_confirmation %>
          </div>

          <%= render partial: "devise/registrations/address_fields", locals: {resource_frm: f} %>
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>