<div class="container bootstrap snippet">
  <%= form_for(@user, url: user_path(@user), html: { method: :put, class: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>
    <br>
    <%- admin = f.object.admin? %>
    <div class="row">
      <div class="col-sm-3"><!--left col-->
        <div class="text-center">
          <% if @user.profile_picture.attached?%>
            <%= image_tag @user.profile_picture , class: "avatar img-circle img-thumbnail", alt: "avatar" %>
          <% end%>
          <% unless admin %>
            <%= f.file_field :profile_picture, class: "text-center center-block file-upload" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="form-label-group">
              <%= f.text_field :name, class: 'form-control', readonly: true %>

              <%= f.label :name  %>
            </div>
            <div class="form-label-group">
              <%= f.text_field :email, class: 'form-control', readonly: true %>
              <%= f.label :email  %>
            </div>
            
            <%= render partial: "devise/registrations/address_fields", locals: {resource_frm: f} %>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.submit "Save", class: 'btn btn-lg btn-success' %>
              </div>
            </div>
            
            
          </div><!--/tab-pane-->
        </div><!--/tab-content-->
      </div><!--/col-9-->
    </div><!--/row-->
  <% end %>
  </div>                                                    