<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Users Listing</h5>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Name

              </th>
              <th class="th-sm">Email

              </th>
              <th class="th-sm">Address

              </th>
              <th class="th-sm">Profile Picture

              </th>
              <th class="th-sm">Registered date

              </th>
              <th class="th-sm">Actions

              </th>
            </tr>
          </thead>
          <tbody>
            <%- @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.full_address %></td>
                <td>
                  <% if user.profile_picture.attached? %>
                    <%= image_tag user.profile_picture.variant(resize_to_limit: [100, 100])%>
                  <% end %>
                </td>
                <td><%= date_formatter(user.created_at) %></td>
                <td>
                  <%= link_to "Edit", edit_user_path(user), class: "nav-link" %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <% if @user.present? %>
            <tfoot>
              <tr>
                <th>Name
                </th>
                <th>Email
                </th>
                <th>Gender
                </th>
                <th>Age
                </th>
                <th>Country
                </th>
                <th>Registered Date
                </th>
              </tr>
            </tfoot>
            <% end %>
        </table>
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
</div>
