<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Forgot your password?</h5>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, calss: 'form-signin' }) do |f| %>
          <%-#= render "devise/shared/error_messages", resource: resource %>

          <div class="form-label-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
            <%= f.label :email %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>