<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), calss: 'form-signin') do |f| %>
          <div class="form-label-group">
            <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: true %>
            <%= f.label :email %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>