nav.navbar.navbar-expand-sm.bg-light.navbar-light
  ul.navbar-nav
    - if user_signed_in?
      li.nav-item
        = link_to "Sign out", destroy_user_session_path, method: :get, class: "nav-link"
      - unless params[:controller] == 'users/registrations'
        li.nav-item
          = link_to "Edit Profile", edit_user_registration_path, class: "nav-link"
      - if current_user.admin?
        li.nav-item
          = link_to "Users", users_path, class: "nav-link"
    - else
      - if params[:controller] != 'users/registrations'
        li class = "#{(params[:controller] == 'users/registrations' ? 'nav-item active' : 'nav-item')}" 
          = link_to "Sign up", new_user_registration_path, class: "nav-link"
      - if params[:controller] != 'devise/sessions'
        li class = "#{(params[:controller] == 'devise/sessions' ? 'nav-item active' : 'nav-item')}"
          = link_to "Sign in", new_user_session_path, class: "nav-link"
