doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title SolbegAssignment
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
  body
    .container
      = render '/layouts/header'
      #page-wrapper
        - flash.each do |type, msg|
          p class=("alert alert-#{type == 'error' ? 'danger' : 'success'} alert-dismissable") = msg
        = yield
